/envTARS
.vscode/settings.json
engine/__pycache__/features.cpython-313.pyc
engine/__pycache__/command.cpython-313.pyc
engine/__pycache__/config.cpython-313.pyc
__pycache__/hotkey_listener.cpython-313.pyc
__pycache__/main.cpython-313.pyc
engine/__pycache__/helper.cpython-313.pyc
engine/tempCodeRunnerFile.py
TARS.db
contacts.csv
